{% extends "base.html" %}

{% block title %}Residence Macau{% endblock %}

{% block stylesheet %}
  <link href="/static/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/static/js/iCheck/skins/square/blue.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            成交量
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <!--div class="icheck" >
                                <div class="square-red single-row" >
                                    <div class="checkbox"><input type="checkbox" id="checkbox_volumn_showdata"><label>show data</label></div>
                                </div>
                            </div-->
                            <div id="container_volumn"></div>
                        </div>
                    </section>
        </div>
        <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            成交價格
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="container_price"></div>
                        </div>
                    </section>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/js/iCheck/jquery.icheck.js"></script>
<script src="/static/js/icheck-init.js"></script>
<script src="/static/js/dsf_stat/xianlou_volumn_price.js"></script>

<!--script src="static/js/morris-chart/morris.init.js"></script-->
<script type="text/javascript">
{% autoescape off %}
// Use Morris.Area instead of Morris.Line

{% endautoescape %}
</script>
{% endblock %}